h1{
	font-size: 75px;
	font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
	text-align: center;
}
h4{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 200;
}
#footer{
    text-align: center;
    bottom: 5;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 140;
    font-family: 'Ubuntu', sans-serif;
}
.contact-links{
    text-align: center;
}
.fa{
    padding-right: 10px;
}
.no-effect{
    text-decoration: none;
}
body{
	background-color: #9FE5FF;
}
